[submodule "architecture-samples"]
	path = architecture-samples
	url = http://github.com/android/architecture-samples.git
[submodule "architecture-components-samples"]
	path = architecture-components-samples
	url = https://github.com/android/architecture-components-samples.git
[submodule "Assignment3-AndroidKotlin"]
	path = Assignment3-AndroidKotlin
	url = https://github.com/itzderr/Assignment3-AndroidKotlin.git
